
.title {
  color: black;
  background-color: white;
  display: flex;
  padding-left: 12px;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-bottom: 1px solid rgb(230, 230, 230);
}

.wrapper {
  background-color: #ddd;
  padding: 12px;
}
